01_Basic_Chat_Agent/01_Basic_Chat_Agent.json
{
  "name": "Demo",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        -112
      ],
      "id": "e087ea5b-1782-430b-b133-f6b4feaaebf8",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "nSYuOydZfioAawfT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f0a16c4-9397-419c-ac9f-d0e23b42e443",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -112
      ],
      "id": "2be29da5-59c0-497e-8892-993be3e59390",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        -112
      ],
      "id": "b557af75-2dd0-4e1f-abd1-eab3f30d2349",
      "name": "When chat message received",
      "webhookId": "2903337c-f90b-4fb2-8a05-748d0c1c2bf9"
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b1a0c56-49d6-45a0-84bc-558615bc566e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16c83b475f8978b01ab91074e046f871875768e316a41217b92fb56cad5fa049"
  },
  "id": "Dv7jEIZ4cQiyWq5O",
  "tags": []
}